---
layout: null
title: Home Paged
date: 2015-01-01T00:00:00.000Z
---

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="editable">My Agency</h1>
      <hr />
      <p class="editable">High Quality Web Design, SEO and Content Writing</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Free Download at Start Bootstrap!</h2>
      <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
    </div>
  </div>
</aside>

<img src="/img/header.jpg" alt="hi" class="editable" />

<form action="//formspree.io/mneumegen@gmail.com" method="POST">
    <input type="text" name="name" />
    <input type="email" name="_replyto" />
    <input type="submit" value="Send" />
</form>