<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Creative Agency</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == '/about.html' %} class="active" {% endif %}>
          <a href="/about.html">About</a>
        </li>
        <li {% if page.url == '/services.html' %} class="active" {% endif %}>
          <a href="/services.html">Services</a>
        </li>
        <li {% if page.url == '/portfolio.html' %} class="active" {% endif %}>
          <a href="/portfolio.html">Portfolio</a>
        </li>
        <li {% if page.url == '/blog.html' %} class="active" {% endif %}>
          <a href="/blog.html">Blog</a>
        </li>
        <li {% if page.url == '/contact.html' %} class="active" {% endif %}>
          <a href="/contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
